@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: Montserrat;
    font-weight: 400;
}

body {
    background-color: grey;
    color: white;
    text-align: center;
}

.image img {
    border-radius: 50%;
    width: 20%;
    /* padding: 4rem 0 1rem 0; */
    margin: 2rem 0 1rem 0;
}

.bullshit {
    border-radius: 5% !important;
}

.fa-linked-in {

}

.fa-medium-m {
    color: purple !important;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    padding: 0 9rem 2rem 9rem;
}

a {
    color: white;
    font-size: 3rem;
    padding: 1rem 2rem;
}
